<!DOCTYPE html>
<html>
    <head>
<<<<<<< HEAD
        <title>Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
=======
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
>>>>>>> 0a02d21d2d9893b822d96700ab9cfa57da15bfc1
    </body>
</html>